{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Confirm Delete Product{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4">Product Management</h2>
            <h5 class="text-muted">Confirm Delete Product</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'delete_product' product.id %}" class="form mb-2"
                enctype="multipart/form-data" id="deleteProductForm">
                {% csrf_token %}
                <p>Are you sure you want to delete this product?</p>
                <div class="text-right">
                    <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-black rounded-0" type="button" onclick="confirmDelete()">Delete
                        Product</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function confirmDelete() {
        if (confirm("Are you sure you want to delete this product?")) {
            document.getElementById("deleteProductForm").submit();
        }
    }
</script>
{% endblock %}